#block-div {
  margin-bottom: 20px;
  padding: 10px;
  border:2px solid black;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(99, 164, 19)),
    color-stop(1, rgb(129, 197, 46))
  );
  background-image: -o-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: linear-gradient(to bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);

  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#block-ul {
  padding-left:10px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(163, 20, 20)),
    color-stop(1, rgb(196, 47, 47))
  );
  background-image: -o-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: linear-gradient(to bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);

  -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.block-p {
  color:white; border-radius:15px; background:orange;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.4, rgb(0, 64, 255)),
    color-stop(1, rgb(99, 122, 255))
  );
  background-image: -o-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: linear-gradient(to bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);

  -webkit-box-shadow: 1px -10px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px -10px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px -10px 5px 0px rgba(50, 50, 50, 0.75);
}
