@mixin default-box-shadow(){
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

@mixin red-bg-gradient {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(255, 0, 0)),
      color-stop(1, rgb(77, 2, 2))
    );
    background-image: -o-linear-gradient(bottom, rgb(255, 0, 0) 0%, rgb(77, 2, 2) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 0, 0) 0%, rgb(77, 2, 2) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 0, 0) 0%, rgb(77, 2, 2) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 0, 0) 0%, rgb(77, 2, 2) 100%);
    background-image: linear-gradient(to bottom, rgb(255, 0, 0) 0%, rgb(77, 2, 2) 100%);
}
