/**
 * External scss files
 */
@import "variables";
@import "mixins";

/**
 * Settings
 */
@import "../../node_modules/inuit-starter-kit/node_modules/inuit-defaults/settings.defaults";
@import "../../node_modules/inuit-responsive-settings/settings.responsive";

/**
 * Tools
 */
@import "../../node_modules/inuit-starter-kit/node_modules/inuit-functions/tools.functions";
@import "../../node_modules/inuit-starter-kit/node_modules/inuit-mixins/tools.mixins";
@import "../../node_modules/inuit-responsive-tools/tools.responsive";

/**
 * Generic
 */
@import "../../node_modules/inuit-starter-kit/node_modules/inuit-normalize/generic.normalize";
@import "../../node_modules/inuit-starter-kit/node_modules/inuit-box-sizing/generic.box-sizing";

/**
 * Base
 */
@import "../../node_modules/inuit-starter-kit/node_modules/inuit-page/base.page";

/**
 * Layout
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Calibri", sans-serif;
}

a {
  color: #fff;
}

h1 { margin: 0; padding: 20px 0; }

ul {
  margin: 0; padding: 0;
}
body {
  font-family: Arial, sans-serif;
}

.page-wrapper { min-height: 100%; }

.page-header {
  border-bottom: 10px solid $main-color;
  text-align: center;

  &__inner {
    max-width: 1024px;
    margin: 0 auto; padding: 0 17px;
    a {
      color: black; text-decoration: none;
    }
  }
}
.page-content {
  max-width: 1024px;
  margin: 0 auto; padding: 0 17px; padding-bottom: 70px;
}

.page-footer {
  @include inuit-font-size(12px); text-align: center;
  height: 50px; margin-top: -80px;
  background: $main-color;
  height: 80px; color: #fff;

  &__inner {
    max-width: 1024px;
    margin: 0 auto; padding: 5px 17px;
  }
}

@include media-query(desk){
  .page-header {
    text-align: left;
  }
  .page-footer {
    text-align: left;
  }
}

/**
 * Partials
 */
@import "layout/styles-home";
@import "layout/styles-tests";

/**
 * Components
 */
@import "components/action-block";
@import "components/test-result";
@import "components/graph";

/**
 * Trumps
 */
@import "../../node_modules/inuit-clearfix/trumps.clearfix";

