<!DOCTYPE html>
<html>
<head>
    <title>Running test...</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bowser.js"></script>
    <script>
        var pageLoadingSpeed = 0;
        var pageAcquiringSpeed = 0;

        function getBrowserName() {
            if (bowser.chrome) {
                return "Google Chrome";
            }
            if (bowser.firefox) {
                return "Firefox";
            }
            if (bowser.msie) {
                return "Internet Explorer";
            }
            if (bowser.opera) {
                return "Opera";
            }
            if (bowser.android) {
                return "Android";
            }
        }

        ;(function timeCSSLoading() {
            window.onload = function(){
                setTimeout(function(){
                var t = performance.timing;
                    pageLoadingSpeed = t.loadEventEnd - t.responseEnd;
                    pageAcquiringSpeed = t.responseEnd - t.navigationStart;

                    $.ajax({
                        url: "/post-selector-performance-result",
                        type: "POST",
                        data: { browserName: getBrowserName(), browserVersion: bowser.version,
                        loadingSpeed: pageLoadingSpeed, transferSpeed: pageAcquiringSpeed },
                        success: function(response){
                            window.opener.location.reload(true);
                            window.close();
                        },
                        error: function(response){
                            console.log(response);
                        }
                    });
                }, 0);
            };
        })();
    </script>
    <% if(styleTag == "ids"){%>
      <% include _style-tag-using-ids.ejs %>
    <% } %>

    <% if(styleTag == "classes"){%>
      <% include _style-tag-using-classes.ejs %>
    <% } %>

    <% if(styleTag == "children"){%>
      <% include _style-tag-using-children.ejs %>
    <% } %>
    <style>
        div:first-of-type {
            position: relative;
            margin: auto;
        }
        img {
            position: fixed;
            top: 50%; left: 50%;
            height: 800px; width: 1200px;
            margin-top: -400px; margin-left: -600px;
        }
    </style>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, no-store, must-revalidate"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Expires" CONTENT="0"/>
</head>
<body>
    <div>
        <img src="../img/loading.gif" />
    </div>
     <div id="contentWrapper" hidden>
      <% for(var i = 0; i < amountOfElements; i++) { %>
        <div id="block-div" class="block-div">
          <ul id="block-ul" class="block-ul">
            <li><p id="block-p" class="block-p">Red</p></li>
            <li><p id="block-p2" class="block-p">Blue</p></li>
            <li><p id="block-p3" class="block-p">Green</p></li>
          </ul>
        </div>
      <% } %>
    </div>
</body>
</html>
