<!DOCTYPE html>
<html>
<head>
    <title>Running test...</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/bowser.js"></script>
    <script>
        var pageLoadingSpeed = 0;
        var pageAcquiringSpeed = 0;

        function getBrowserName() {
            if (bowser.chrome) {
                return "Google Chrome";
            }
            if (bowser.firefox) {
                return "Firefox";
            }
            if (bowser.msie) {
                return "Internet Explorer";
            }
            if (bowser.opera) {
                return "Opera";
            }
            if (bowser.android) {
                return "Android";
            }
        }

        ;(function timeCSSLoading() {
            window.onload = function(){
                setTimeout(function(){
                var t = performance.timing;
                    pageLoadingSpeed = t.loadEventEnd - t.responseEnd;
                    pageAcquiringSpeed = t.responseEnd - t.navigationStart;

                    $.ajax({
                        url: "/post-performance-result",
                        type: "POST",
                        data: { browserName: getBrowserName(), browserVersion: bowser.version,
                        loadingSpeed: pageLoadingSpeed, transferSpeed: pageAcquiringSpeed },
                        success: function(response){
                          window.opener.location.reload(true);
                          window.close();

                        },
                        error: function(response){
                            console.log(response);
                        }
                    });
                }, 0);
            };
        })();
    </script>

    <% if(cssOption == "tag") { %>
      <style>
        #block-div {
  margin-bottom: 20px;
  padding: 10px;
  border:2px solid black;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(99, 164, 19)),
    color-stop(1, rgb(129, 197, 46))
  );
  background-image: -o-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: linear-gradient(to bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);

  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#block-ul {
  padding-left:10px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(163, 20, 20)),
    color-stop(1, rgb(196, 47, 47))
  );
  background-image: -o-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: linear-gradient(to bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);

  -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.block-p {
  color:white; border-radius:15px; background:orange;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.4, rgb(0, 64, 255)),
    color-stop(1, rgb(99, 122, 255))
  );
  background-image: -o-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);
  background-image: linear-gradient(to bottom, rgb(0, 64, 255) 40%, rgb(99, 122, 255) 100%);

  -webkit-box-shadow: 1px -10px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px -10px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px -10px 5px 0px rgba(50, 50, 50, 0.75);
}
      </style>
    <% } %>

    <% if(cssOption == "stylesheet") { %>
      <link rel="stylesheet" href="/css/test-block.css">
    <% } %>

    <style>
        div:first-of-type {
            position: relative;
            margin: auto;
        }
        img {
            position: fixed;
            top: 50%; left: 50%;
            height: 800px; width: 1200px;
            margin-top: -400px; margin-left: -600px;
        }
    </style>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, no-store, must-revalidate"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="Expires" CONTENT="0"/>
</head>
<body>
  <div>
      <img src="../img/loading.gif" />
  </div>
<% if(cssOption == "inline") { %>
  <div id="contentWrapper" hidden>
    <% for(var i = 0; i < amountOfElements; i++) { %>
      <div id="block-div" style="margin-bottom: 20px;
  padding: 10px;
  border:2px solid black;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(99, 164, 19)),
    color-stop(1, rgb(129, 197, 46))
  );
  background-image: -o-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);
  background-image: linear-gradient(to bottom, rgb(99, 164, 19) 0%, rgb(129, 197, 46) 100%);

  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);">
        <ul id="block-ul" style="padding-left:10px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(163, 20, 20)),
    color-stop(1, rgb(196, 47, 47))
  );
  background-image: -o-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: linear-gradient(to bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);

  -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.75);">
          <li><p class="block-p" style="padding-left:10px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(163, 20, 20)),
    color-stop(1, rgb(196, 47, 47))
  );
  background-image: -o-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: linear-gradient(to bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);

  -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.75);">Text</p></li>
          <li><p class="block-p" style="padding-left:10px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(163, 20, 20)),
    color-stop(1, rgb(196, 47, 47))
  );
  background-image: -o-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: linear-gradient(to bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);

  -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.75);">Text</p></li>
          <li><p class="block-p" style="padding-left:10px;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(163, 20, 20)),
    color-stop(1, rgb(196, 47, 47))
  );
  background-image: -o-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);
  background-image: linear-gradient(to bottom, rgb(163, 20, 20) 0%, rgb(196, 47, 47) 100%);

  -webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.75);">Text</p></li>
        </ul>
      </div>
    <% } %>
  </div>
  <% } else { %>
     <div id="contentWrapper" hidden>
      <% for(var i = 0; i < amountOfElements; i++) { %>
        <div id="block-div">
          <ul id="block-ul">
            <li><p id="block-p" class="block-p">Red</p></li>
            <li><p id="block-p2" class="block-p">Blue</p></li>
            <li><p id="block-p3" class="block-p">Green</p></li>
          </ul>
        </div>
      <% } %>
    </div>
  <% } %>
</body>
</html>
