<!DOCTYPE html>
<html>
<head>
    <title>CSS Applied Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
<script type="text/javascript" src="../js/respond.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/applying-performance.js" type="text/javascript"></script>
    <script src="/js/bowser.js"></script>
</head>
<body>
    <div class="page-wrapper">
      <div class="page-header">
          <div class="page-header__inner">
            <a href="/">
              <h1>CSS Performance Tool</h1></a>
          </div>
      </div>
      <div class="page-content">
        <div class="test-wrapper">
          <div class="test-wrapper__left">
            <h2 id="showSettings" class="showSettings">Settings</h2>
            <div class="test-wrapper__settings">
             <p>Change the amount of predefined html-element blocks that will be used during the test:</p>
             <input id="txtAmountOfElements" name="txtAmountOfElements" type="text"/> <br>
             <script>
              $("#txtAmountOfElements").val("<%= amountOfElements %>");
             </script>
             <p class="ResultChangeElements"></p>
             <input id="btnChangeElements" type="button" value="Change amount of elements"/>
             <p>Change the CSS selector that will be used to style the blocks:</p>
              <select id="selectStyleTag">
                  <option value="ids">Use ID's</option>
                  <option value="classes">Use Classes</option>
                  <option value="children">Use child elements</option>
              </select>
              <script>
                $("#selectStyleTag").val("<%= styleTag %>");
              </script>
              <p>Running the test will refresh this page. During that refresh, the entire loading speed
                will be measured and recorded.</p>
              <input id="btnResult" type="button" value="Run the test"/>
              <p>Clearing the results will wipe out all the records from the database. </p>
              <p class="ResultClearElements"></p>
              <input id="btnClear" type="button" value="Clear"/>
            </div>
          </div>
          <div class="test-wrapper__right">
            <h2>Results</h2>
            <div class="test-result-wrapper">
            <% results.forEach(function(result) { %>
              <div class="test-result">
                <p class="test-result__title"><%= result.browserinfo %>
                  <span><%= result.date %> at <%= result.time %></span>
                </p>
                <div class="test-result__value">
                  <p class="test-result__value__title">Server Transfer Speed</p>
                  <p class="test-result__value__value"><%= result.transferSpeed %> ms</p>
                </div>
                <div class="test-result__value">
                  <p class="test-result__value__title">Loading Speed</p>
                  <p class="test-result__value__value"><%= result.loadingspeed %> ms</p>
                </div>
                <div class="test-result__value">
                  <p class="test-result__value__title">HTML blocks</p>
                  <p class="test-result__value__value"><%= result.elements %></p>
                </div>
                <div class="test-result__value">
                  <p class="test-result__value__title">Selector</p>
                  <p class="test-result__value__value"><%= result.selector %></p>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
      <!--
      <table id="results">
        <tr>
          <td>Browser</td>
          <td>Version</td>
          <td>Server Transfer Speed (ms)</td>
          <td>Page Loading Speed (ms)</td>
          <td>Total time ellapsed (ms)</td>
          <td>Amount of elements</td>
          <td>CSS selector</td>
        </tr>
        <% results.forEach(function(result) { %>
          <tr>
            <td><%= result.browser %></td>
            <td><%= result.version %></td>
            <td><%= result.transferSpeed %></td>
            <td><%= result.speed %></td>
            <td><%= (result.transferSpeed + result.speed) %></td>
            <td><%= result.elements %></td>
            <td><%= result.styleTag %></td>
          </tr>
        <% }) %>
      </table>
      -->

      </div>
    </div>
    <div class="page-footer">
        <div class="page-footer__inner">
            &copy; Stijn Jonckheere - 2015 <br>
            Student at Howest in Bruges <br>
            Contact me: <a href="mailto:jonckheere_stijn@hotmail.com">jonckheere_stijn@hotmail.com</a>
        </div>
    </div>
</body>
</html>
