<!DOCTYPE html>
<html>
<head>
    <title>CSS Performance Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <script type="text/javascript" src="../js/respond.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <div class="page-header">
            <div class="page-header__inner">
                <a href="/"><h1>CSS Performance Tool</h1></a>
            </div>
        </div>
        <div class="page-content">
            <div class="home-content">
                <div class="home-content__inner">
                <div class="home-content__first">
                    <h2>What</h2>
                    <p>This web application is a demonstration of the impact that you as a front end developer
                        have on the loading and rendering speed of a webpage when making certain decisions.
                        <br>
                        Choosing between inline CSS, putting it all between style-tags in the header or simply
                        mashing it all together into a stylesheet is a decision better not made lightly.
                        <br><br>
                        Going one step further this tool also takes a look at the difference between using
                        ID's, classes or child elements when applying CSS to your page.
                    </p>
                </div>
                <div class="home-image-wrapper">
                    <img src="../img/css3.png" alt="Image of browsers"/>
                </div>
                <div class="home-content__second">
                    <h2>Who</h2>
                    <p>My name is Stijn Jonckheere. I am currently 21 years of age and I live in Belgium.
                        I'm also a college student at Howest in Bruges.</p>
                </div>
                <div class="home-content__third">
                    <h2>Why</h2>
                    <p>
                        In the last year of Applied IT, each student has to do a research project. Even though
                        this project is mandatory, it's still very interesting to me personally considering I will
                        be working on websites for the rest of my life. It's what I love to do.
                    </p>
                </div>
            </div>
                <div class="home-actions-wrapper">
                    <a href="loading-performance" class="action-block action-block__first">
                        Measure the performance of using inline CSS, style-tags or stylesheets</a>
                    <a href="applied-performance" class="action-block action-block__second">
                    Measure the performance of CSS using different selectors</a>
                    <a href="performance-results" class="action-block action-block__third">
                        The performance results</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer__inner">
            &copy; Stijn Jonckheere - 2015 <br>
            Student at Howest in Bruges <br>
            Contact me: <a href="mailto:jonckheere_stijn@hotmail.com">jonckheere_stijn@hotmail.com</a>

        </div>
    </div>

</body>
</html>
