<!DOCTYPE html>
<html>
<head>
    <title>CSS Loading Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
<script type="text/javascript" src="../js/respond.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/loading-performance.js" type="text/javascript"></script>
    <script src="/js/bowser.js"></script>
</head>
<body>
    <div class="page-wrapper">
      <div class="page-header">
          <div class="page-header__inner">
            <a href="/">
              <h1>CSS Performance Tool</h1></a>
          </div>
      </div>
      <div class="page-content">
        <div class="test-wrapper">
          <div class="test-wrapper__left">
            <h2 id="showSettings" class="showSettings">Settings</h2>
            <div class="test-wrapper__settings">
             <p>Change the amount of predefined html-element blocks that will be used during the test:</p>
             <input id="txtAmountOfElements" name="txtAmountOfElements" type="text"/> <br>
             <script>
              $("#txtAmountOfElements").val("<%= amountOfElements %>");
             </script>
             <p class="ResultChangeElements"></p>
             <input id="btnChangeElements" type="button" value="Change amount of elements"/>
             <p>Change the way CSS is loaded:</p>
              <select id="selectCssOption">
                <option value="none">None</option>
                <option value="inline">Inline</option>
                <option value="tag">Style tag</option>
                <option value="stylesheet">External Stylesheet</option>
              </select>
              <script>
                $("#selectCssOption").val("<%= cssOption %>");
              </script>
              <p>Running the test will refresh this page. During that refresh, the entire loading speed
                will be measured and recorded.</p>
              <input id="btnResult" type="button" value="Run the test"/>
              <p>Clearing the results will wipe out all the records from the database. </p>
              <p class="ResultClearElements"></p>
              <input id="btnClear" type="button" value="Clear"/>
            </div>
          </div>
          <div class="test-wrapper__right">
            <h2>Results</h2>
            <div class="test-result-wrapper">
            <% results.forEach(function(result) { %>
              <div class="test-result">
                <p class="test-result__title"><%= result.browserinfo %>
                  <span><%= result.date %> at <%= result.time %></span>
                </p>
                <div class="test-result__value">
                  <p class="test-result__value__title">Server Transfer Speed</p>
                  <p class="test-result__value__value"><%= result.transferSpeed %> ms</p>
                </div>
                <div class="test-result__value">
                  <p class="test-result__value__title">Loading Speed</p>
                  <p class="test-result__value__value"><%= result.loadingspeed %> ms</p>
                </div>
                <div class="test-result__value">
                  <p class="test-result__value__title">HTML blocks</p>
                  <p class="test-result__value__value"><%= result.elements %></p>
                </div>
                <div class="test-result__value">
                  <p class="test-result__value__title">CSS</p>
                  <p class="test-result__value__value"><%= result.cssoption %></p>
                </div>
              </div>
            <% }) %>
          </div>
          </div>
      </div>

      </div>
    </div>
    <div class="page-footer">
        <div class="page-footer__inner">
            &copy; Stijn Jonckheere - 2015 <br>
            Student at Howest in Bruges <br>
            Contact me: <a href="mailto:jonckheere_stijn@hotmail.com">jonckheere_stijn@hotmail.com</a>
        </div>
    </div>
</body>
</html>
