<!DOCTYPE html>
<html>
<head>
    <title>CSS Performance Tool</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
</head>
<body>
    <div class="page-wrapper">
        <div class="page-header">
            <div class="page-header__inner">
                <a href="/">
                    <h1>CSS Performance Tool</h1>
                </a>
            </div>
        </div>
        <div class="page-content">

        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer__inner">
            &copy; Stijn Jonckheere - 2015 <br>
            Student at Howest in Bruges <br>
            Contact me: <a href="mailto:jonckheere_stijn@hotmail.com">jonckheere_stijn@hotmail.com</a>
        </div>
    </div>

</body>
</html>
