<!DOCTYPE html>
<html>
<head>
    <title>CSS Performance Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
<script type="text/javascript" src="../js/respond.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      $(window).resize(function(){
        drawChart();
      })
      function drawChart() {
        var dataArray = <%- JSON.stringify(browserSpeedArray) %>;
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {'height':300, vAxes: { 0: { viewWindow: { min: 0 } }}};
        var chart = new google.visualization.ColumnChart(document.getElementById('browserSpeedGraph'));
        chart.draw(data, options);

        var dataArray = <%- JSON.stringify(browserSpeedArray2) %>;
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {'height':300, vAxes: { 0: { viewWindow: { min: 0 } }}};
        var chart = new google.visualization.ColumnChart(document.getElementById('browserSpeedGraph2'));
        chart.draw(data, options);

        var dataArray = <%- JSON.stringify(loadingSpeedArray) %>;
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {'height':300, vAxes: { 0: { viewWindow: { min: 0 } }}};
        var chart = new google.visualization.ColumnChart(document.getElementById('loadingSpeedGraph'));
        chart.draw(data, options);

        var dataArray = <%- JSON.stringify(appliedSpeedArray) %>;
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {'height':300, vAxes: { 0: { viewWindow: { min: 0 } }}};
        var chart = new google.visualization.ColumnChart(document.getElementById('appliedSpeedGraph'));
        chart.draw(data, options);
      }
      </script>
</head>
<body>
    <div class="page-wrapper">
        <div class="page-header">
          <div class="page-header__inner">
            <a href="/"><h1>CSS Performance Tool</h1></a>
          </div>
        </div>
        <div class="page-content">
          <div class="graph-wrapper graph-wrapper__first">
            <h2>Average speed using different CSS loading methods</h2>
            <div id="browserSpeedGraph" class="graph"></div>
          </div>
          <div class="graph-wrapper graph-wrapper__second">
            <h2>Average speed using different CSS applying methods</h2>
            <div id="browserSpeedGraph2" class="graph"></div>
          </div>
          <div class="graph-wrapper">
            <h2>Average speed based on how CSS was loaded</h2>
            <div id="loadingSpeedGraph" class="graph"></div>
          </div>
          <div class="graph-wrapper">
            <h2>Average speed based on how CSS was applied</h2>
            <div id="appliedSpeedGraph" class="graph"></div>
          </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer__inner">
            &copy; Stijn Jonckheere - 2015 <br>
            Student at Howest in Bruges <br>
            Contact me: <a href="mailto:jonckheere_stijn@hotmail.com">jonckheere_stijn@hotmail.com</a>
        </div>
    </div>

</body>
</html>
