.home-content {
  padding-top: 15px;
  &__inner {
    overflow: hidden;
  }
  &__first, &__second, &__third {
    h2 {
      @include inuit-font-size(21px); text-align: center;
      text-shadow: 1px 1px #fff;
      border-bottom: 3px solid orange;
      margin: 0 auto; display: block;
    }
  }
}

.home-image-wrapper {
  display: none;
}

.home-actions-wrapper {
  overflow: hidden;
  padding: 10px; margin-top: 20px; margin-bottom: 20px;
}

@include media-query(lap){
  .home-content {
    @extend .clearfix;

    h2 {
      @include inuit-font-size(23px); text-align: left;
      margin: 0;
      display: inline-block;
    }

    &__first {
      float: left;
      width: 50%;
    }

    .home-image-wrapper {
      display: block;
      float: left;
      width: 50%;
      text-align: center;
      img {
        display: inline-block;
        max-width: 100%; max-height: 285px;
        padding-top: 55px;
      }
    }

    &__second, &__third {
      float:    left;
      display:  inline-block;
      width:    50%;
    }
  }
}

@include media-query(desk){
  .home-content {
    @extend .clearfix;

    h2 {
      @include inuit-font-size(23px); text-align: left;
      margin: 0;
      display: inline-block;
    }

    &__first {
      float: left;
      width: 50%;
    }

    .home-image-wrapper {
      display: block;
      float: left;
      width: 50%;
      text-align: center;
      img {
        display: inline-block;
        max-width: 100%; max-height: 285px;
        padding-top: 55px;
      }
    }

    &__second, &__third {
      float:    left;
      display:  inline-block;
      width:    50%;
    }
  }
}
