.test-wrapper {
  overflow: hidden;
  margin-bottom: 20px;

  &__left, &__right {
    margin-top: 15px;
  }
  &__left {
    margin-bottom: 15px;
  }

  input, select {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }

  .showSettings {
    border: 3px solid orange;
    background-color: lighten(orange,10%);
    display: block;
    cursor: pointer;
    text-shadow: 0 0;
  }

  &__settings {
    display: none;
  }

  p, span, input[type="text"], input[type="button"], select {
    text-align: center;
  }

  input[type="button"]{
    background: rgb(255,165,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,165,0,1) 0%, rgba(255,165,0,1) 40%, rgba(229,74,5,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,165,0,1)), color-stop(40%,rgba(255,165,0,1)), color-stop(100%,rgba(229,74,5,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,165,0,1) 0%,rgba(255,165,0,1) 40%,rgba(229,74,5,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,165,0,1) 0%,rgba(255,165,0,1) 40%,rgba(229,74,5,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,165,0,1) 0%,rgba(255,165,0,1) 40%,rgba(229,74,5,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,165,0,1) 0%,rgba(255,165,0,1) 40%,rgba(229,74,5,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa500', endColorstr='#e54a05',GradientType=0 ); /* IE6-9 */
    border: 1px solid lightgrey; outline: 0; border-radius: 15px;
    padding: 5px;
    font-weight: bold; color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  .alert {
    color: darken(orangered,15%);
    @include inuit-font-size(18px); font-weight: bold;
  }

  .ResultChangeElements, .ResultClearElements {
    margin-bottom: 15px;
    margin-top: 0;
  }

}

h2 {
  @include inuit-font-size(21px); text-align: center;
  text-shadow: 1px 1px #fff;
  border-bottom: 3px solid orange;
  margin: 0 auto; display: block;
}

@include media-query(lap){
  .test-wrapper {
    &__left {
      float: left;
      width: 30%;
      padding-right: 15px;
      border-right: 1px solid lightgrey;
      min-height: 100%;

      p, span, input[type="text"] {
        text-align: left;
      }
    }
    &__right {
      float: left;
      width: 70%;
      padding-left: 15px;
    }
  }
  h2 {
      @include inuit-font-size(23px); text-align: left;
      margin: 0;
      display: inline-block;
  }
}
@include media-query(desk){
  .test-wrapper {
    &__left {
      float: left;
      width: 30%;
      padding-right: 15px;
      border-right: 1px solid lightgrey;
      min-height: 100%;
      p, span, input[type="text"] {
        text-align: left;
      }
    }
    &__right {
      float: left;
      width: 70%;
      padding-left: 15px;
    }
  }

  h2 {
      @include inuit-font-size(23px); text-align: left;
      margin: 0;
      display: inline-block;
  }
}
