.action-block {
  background-color: $main-color; color: white;
  @include inuit-font-size(15px); font-weight: bold;
  text-align: center; text-decoration: none;
  padding: 10px; height: 90px; margin-top: 10px; margin-bottom: 10px;
  border-radius: 10px;
  display: block;
  display: flex; justify-content: center; align-items: center;
  &:hover {
    text-decoration: underline;
  }
}

@include media-query(lap){
  .action-block {
    float: left;
    width: 31.33%;
    margin-bottom: 0;

    &__first {
      margin-right:2%;
    }
    &__second {
      margin-left: 1%;
      margin-right: 1%;
    }
    &__third {
      margin-left: 2%;
    }
  }
}

@include media-query(desk){
  .action-block {
    float: left;
    width: 31%;

    &__first {
      margin-right:2%;
    }
    &__second {
      margin-left: 1%;
      margin-right: 1%;
    }
    &__third {
      margin-left: 2%;
    }
  }
}
