.graph-wrapper {
  margin-bottom: 20px;
}
.graph {
      width: 100%;
}
@include media-query(desk){
.graph-wrapper {
  &__first, &__second {
    float: left;
    width: 48%;
    padding-right: 2%;
    padding-top:20px;
  }
}
}

