.test-result {
  border-radius: 10px; border: 2px solid $main-color;
  margin-top: 10px; margin-bottom: 15px;
  @include inuit-font-size(14px);

  &__title {
    font-weight: bold;
    background-color: $main-color; color: #fff; border-radius: 5px 5px 0px 0px;
    margin: 0; padding: 10px;
    span {
      display: block;
      @include inuit-font-size(10px); font-style: italic;
    }
  }

  &__value {
    border: 1px solid $main-color;

    &__title {
      @include inuit-font-size(12px);
      margin: 0; padding-top: 10px;
    }
    &__value {
      @include inuit-font-size(18px); font-weight: bold;
      margin: 0; padding-top: 10px; padding-bottom: 10px;
    }
  }
}

@include media-query(lap) {
  .test-result-wrapper {
    overflow: hidden;
  }
  .test-result {
    width: 48%; float: left;
    margin-left: 1%; margin-right: 1%;

    &__title {
      text-align: center;
    }

    &__value {
      &__title {
        text-align: center;
      }
      &__value {
        text-align: center;
      }
    }
  }
}

@include media-query(desk) {
  .test-result-wrapper {
    overflow: hidden;
  }
  .test-result {
    width: 48%; float: left;
    margin-right: 2%;

    &__title {
      text-align: center;
    }

    &__value {
      &__title {
        text-align: center;
      }
      &__value {
        text-align: center;
      }
    }

  }
}
